{% include "module-header" %}

# Installation

{%- include "installation" -%}

# Synopsis

```ts
import isLinked from "is-linked";

await isLinked();
await isLinked("some-module");
```

# Details

Check if a module is linked by `npm` or `yarn`. By default checks top-most module.

<!-- usage -->

<!-- commands -->

# API

{% include "api.md" %}
